<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations personnelles</title>
</head>
<style>
    .btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <form action="" method="get">


        <button class="btn"><i class="fa-solid fa-pen-to-square"></i></button>
        <h3 style="display:inline-block;">Numéro d'entreprise:</h3>
        <label for="numEntreprise">
            <%=user.Id_entreprise%>
        </label>
        <br>
        <h3 style="display:inline-block;">Nom de l'entreprise:</h3>
        <label for="numEntreprise">
            <%=user.Nom_entreprise%>
        </label>
        <br>
        <h3 style="display:inline-block;">Nom du recruteur</h3>
        <label for="nomRecruteur">
            <%=user.Nom_recruteur%>
        </label>
        <br>
        <h3 style="display:inline-block;">Email</h3>
        <label for="emailEmployeur">
            <%=user.email%>
        </label>
        <br>
        <h3 style="display:inline-block;">Mot de passe</h3>
        <label for="mdpEmployeur">
            <%=user.password%>
        </label>



    </form>
</body>

</html>