<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations personnelles</title>
</head>

<body>
    <form action="" method="get">

        <h3 style="display:inline-block;">Numéro d'étudiant:</h3>
        <label for="numEtudiant" style="display:inline-block;">
            <%=user.Id_etudiant%>
        </label>
        <br>
        <h3 style="display:inline-block;">Prénom:</h3>
        <label for="prenomEtudiant" style="display:inline-block;">
            <%=user.Prenom%>
        </label>
        <br>
        <h3 style="display:inline-block;">Nom de famille</h3>
        <label for="nomFamilleEtudiant" style="display:inline-block;">
            <%=user.Nom_famille%>
        </label>
        <br>
        <h3 style="display:inline-block;">Âge</h3>
        <label for="ageEtudaint" style="display:inline-block;">
            <%=user.Age%>
        </label>
        <br>
        <h3 style="display:inline-block;">Email</h3>
        <label for="emailEtudiant" style="display:inline-block;">
            <%=user.email%>
        </label>
        <br>
        <h4 style="display:inline-block;">Mot de passe</h4>
        <label for="mdpEtudiant" style="display:inline-block;">
            <%=user.password%>
        </label>

    </form>
</body>

</html>