<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="test/css" href="../Styles/styles.css"> -->
    <title>Document</title>
</head>
<header>
    <%- include ('./header') %>
</header>
<body>
    <h1 style="text-align: center;">Resultat recherche</h1>
<% rsltTrouves.forEach(function(rsltTrouves, index){ %>
<div>
    <p><%= rsltTrouves.Id_employeur_lie%></p>
    <p><%= rsltTrouves.Titre_emploi%></p>
    <p><%= rsltTrouves.Description%></p>
    <p><%= rsltTrouves.Id_employeur%></p>
    <p><%= rsltTrouves.Nbr_postes_vides%></p>
</div>

<header>
    <%- include ('./header') %>
</header>

<body>
    <h1 style="text-align: center;">Resultat recherche</h1>
    <% rsltTrouves.forEach(function(rsltTrouves, index){ %>
    <div class="wrapper">
        <div class="row">
            <div class="content">
                <h1><%= rsltTrouves.Titre_emploi%></h1>
                <h3><%= rsltTrouves.Id_employeur_lie%></h3>
                <p><%= rsltTrouves.Description%></p>
                <p><%= rsltTrouves.Nbr_postes_vides%> poste(s) disponible(s)</p>
            </div>
        </div>
    </div>
    <% }); %>
</body>
</html>



<% }); %>
