<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <%- include ('./header') %>
</header>
<body>
    <h1 style="text-align: center;">Resultat recherche</h1>
<% rsltTrouves.forEach(function(rsltTrouves, index){ %>
<div>
    <p><%= rsltTrouves.Id_employeur_lie%></p>
    <p><%= rsltTrouves.Titre_emploi%></p>
    <p><%= rsltTrouves.Description%></p>
    <p><%= rsltTrouves.Id_employeur%></p>
    <p><%= rsltTrouves.Nbr_postes_vides%></p>
</div>
</body>
</html>



<% }); %>